.todo-list {
  font-family: inherit;
  .todo-list__item {
    display: flex;
    align-items: center;
    
    .todo-list__item__name {
      color: $color-gray-1;
      flex: 1;
    }

    .todo-list__item__name--striked {
      color: $color-gray-2;
      text-decoration: line-through;
    }

    .todo-list__item__delete {
      color: $color-gray-2;

      &:hover {
        cursor: pointer;
        color: $color-gray-1;
      }
    }
  }
}
