.todo-list {
  font-family: inherit;
  overflow-y: auto;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .todo-list__item {
    display: flex;
    align-items: center;
    
    .todo-list__item__name {
      color: $color-light-gray-5;
      flex: 1;
    }

    .todo-list__item__name--striked {
      color: $color-light-gray-3;
      text-decoration: line-through;
    }

    .todo-list__item__delete {
      background: url("../assets/svg/icon-cross.svg") no-repeat;
      border: none;
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
        color: $color-light-gray-4;
      }
    }
  }
}
