.todo-list__row {
  background-color: #fff;
  padding: 18px 24px;
  
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:not(:last-child) {
    border-bottom: 1.5px solid $color-light-gray-2;
  }
}
