.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: inherit;
  padding: 18px 24px;
  border-top: 1.5px solid $color-light-gray-2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;

  .todo-left-count, .todo-clear-completed {
    color: $color-light-gray-4;
  }

  .todo-toggle {
    display: flex;

    button:not(:last-child) {
      margin-right: 8px;
    }
  }

  button {
    color: $color-light-gray-4;
    font-size: 14px;
    font-family: inherit;
    padding: 4px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;

    &.active,
    &.active:hover {
      color: $color-bright-blue;
    }

    &:hover {
      color: $color-light-gray-5;
    }
  }

  .todo-clear-completed {
    font-weight: 400;
  }
}
