.todo {
  font-family: 'Josefin Sans';
  width: 100vw;
  height: 100vh;
  background: $color-light-bg url("../assets/images/bg-desktop-light.jpg") no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size-18;

  .todo-container {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: $ds-space-20;

    .todo-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;

      & .todo-header__text {
        font-size: $font-size-48;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-light-gray-1;
        letter-spacing: $ds-space-10;
      }

      & .theme-switch-button {
        background: url("../assets/svg/icon-moon.svg") no-repeat;
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
        cursor: pointer;

        & > i {
          font-size: $font-size-48;
          color: $color-light-gray-1;
        }
      }
    }

    .todo__input {
      display: flex;
      align-items: center;
      height: 65px;
      border-radius: $ds-space-5;
      background-color: $color-light-gray-1;
      margin-bottom: $ds-space-24;
      padding: $ds-space-16 $ds-space-24;

      .todo-checkbox {
        width: 50px;
      }

      &-element {
        height: 100%;
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        color: $color-light-gray-5;
        font-size: inherit;
      }
    }
  }
}
