$color-bright-blue: hsl(220, 98%, 61%);
$color-checkbox: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// white shades
$color-white-100: #fafafa;

// Light Theme
$color-light-bg: hsl(0, 0%, 98%);

$color-light-gray-1: hsl(0, 0%, 98%);
$color-light-gray-2: hsl(236, 33%, 92%);
$color-light-gray-3: hsl(233, 11%, 84%);
$color-light-gray-4: hsl(236, 9%, 61%);
$color-light-gray-5: hsl(235, 19%, 35%);

// Dark Theme
$color-dark-bg: hsl(235, 21%, 11%);

$color-dark-gray-1: hsl(235, 21%, 11%);
$color-dark-gray-2: hsl(235, 24%, 19%);
$color-dark-gray-3: hsl(237, 14%, 26%);
$color-dark-gray-4: hsl(233, 14%, 35%);
$color-dark-gray-5: hsl(234, 11%, 52%);
$color-dark-gray-6: hsl(234, 39%, 85%);
$color-dark-gray-7: hsl(236, 33%, 92%);


// sidebar icon colors
$color-icon-home: #ff903a;
$color-icon-home-bg: rgba($color: $color-icon-home, $alpha: 0.2);
$color-icon-projects: #a088ed;
$color-icon-projects-bg: rgba($color: $color-icon-projects, $alpha: 0.2);
$color-icon-skills: #6acaf5;
$color-icon-skills-bg: rgba($color: $color-icon-skills, $alpha: 0.2);
$color-icon-achievements: #52d4b9;
$color-icon-achievements-bg: rgba($color: $color-icon-achievements, $alpha: 0.2);
