$color-white-1: #fff;
$color-white-2: #eee;
$color-white-3: #ccc;
$color-gray-1: #707A89;
$color-gray-2: #B1BECB;
$color-gray-3: #D7DDE4;

$bg-checkbox: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));